@import url("reset.css");

.wrap {
  padding: 40px 20px 30px;
}

#header {
  margin: 30px 0 40px;
  color: #929292;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.content {
  position: relative;
  height: 500px;
}

#playArea {
  width: 70%;
  height: 500px;
  padding: 50px 20px 40px;
  border-radius: 25px 0 0 25px;
  background: rgb(255, 248, 238);
  background: radial-gradient(
    circle,
    rgba(255, 248, 238, 1) 0%,
    rgba(250, 235, 215, 1) 100%
  );
  text-align: center;
}
#playArea .doll {
  display: inline-block;
  width: 230px;
  min-height: 411px;
}
#playArea .doll img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#playArea .doll .dollHead {
  position: relative;
  height: 121px;
  background: url("../images/doll/doll_01.png") no-repeat center top;
  background-size: 100% auto;
}
#playArea .doll .dollBody {
  position: relative;
  height: 300px;
  background: url("../images/doll/doll_01.png") no-repeat center -121px;
  background-size: 100% auto;
}
#playArea .doll .dollBody .accessory {
  position: absolute;
  top: 62px;
  right: -40px;
  width: 120px;
  height: 230px;
}

#playArea .doll .dollBody .accessory img {
  width: auto;
  max-height: 100%;
}

#itemArea {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 500px;
  padding-left: 40px;
  border-radius: 0 25px 25px 0;
  background-color: #e8e8e8;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: rgb(255, 248, 238);
}
.tab li {
  height: 20%;
  text-align: center;
}
.tab li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgb(240, 245, 245);
  color: #8a8886;
  writing-mode: vertical-rl;
}
.tab li.on a,
.tab li a:hover {
  border-radius: 5px 0 0 5px;
  background-color: #f8b046;
  color: #fff;
  font-weight: bold;
}
.tab li .blind {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -99999px;
}
.tabCont {
  background-color: #f8b046;
  height: 100%;
}

.itemList {
  padding: 20px 10px;
  font-size: 0;
}
.itemList li {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.itemList .card {
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: transparent;
  cursor: pointer;
}
.itemList .card img {
  height: 100%;
}
.itemList .card .nameTag {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  color: #fff;
}
.itemList .card:hover .nameTag {
  height: 20px;
  line-height: 20px;
  padding: 2px;
  background: rgb(248, 176, 70);
  background: linear-gradient(
    90deg,
    rgba(248, 176, 70, 0.5) 0%,
    rgba(127, 90, 36, 0.5) 20%,
    rgba(0, 0, 0, 0.5) 51%,
    rgba(127, 90, 36, 0.5) 81%,
    rgba(248, 176, 70, 0.5) 100%
  );
}
